h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Garalama', sans-serif;
}
h1,
.h1.h1,
.text-block.h1 > *,
.text-block.h1 :is(h1, h2, h3, h4, h5, h6) {
   font-family: 'Garalama', sans-serif;

}
h2,
.h2.h2,
.text-block.h2 > *,
.text-block.h2 :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Garalama', sans-serif;
}

h3,
.h3,
.h3.h3,
.text-block.h3 > *,
.text-block.h3 :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Garalama', sans-serif;
}

h4,
.h4.h4,
.text-block.h4 > *,
.text-block.h4 :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Garalama', sans-serif;
}

h5,
.h5.h5,
.text-block.h5 > *,
.text-block.h5 :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Garalama', sans-serif;
}

h6,
.h6.h6,
.text-block.h6 > *,
.text-block.h6 :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Garalama', sans-serif;
}

#header-component[transparent]:not([data-sticky-state='active']):not(:has(.menu-list__link:is(:hover, [aria-expanded='true']))) {
  --color-foreground: #ffffff;
  --color-foreground-rgb: 255, 255, 255;
  --color-account-icon: #ffffff;
  --menu-top-level-font-color: #ffffff;
  --menu-top-level-font-color-rgb: 255, 255, 255;
}

#header-component[transparent]:not([data-sticky-state='active']):not(:has(.menu-list__link:is(:hover, [aria-expanded='true']))) :is(.menu-list__link, .menu-list__item) {
  color: #ffffff;
}
